.business {
  margin: 200px 0;
}

.business_list {
  display: inline-block;
  width: 100%;
}

.business_list h1 {
  font-size: 30px;
  font-weight: normal;
  color: #555;
  line-height: 0.8;
  padding-bottom: 7%;
}

.business_list h1 small {
  font-size: 12px;
  color: #d0576b;
}

.business_list h2 {
  font-size: 20px;
  color: #555;
  font-weight: normal;
  padding-bottom: 7%;
}

.business_list p {
  width: 80%;
  font-size: 12px;
  color: #555;
  letter-spacing: 3px;
  line-height: 2.6;
}

.business_item1 {
  width: 500px;
  display: inline-block;
  position: relative;
  top: 230px;
  z-index: 2;
  overflow: hidden;
  left: 20px;
  border-radius: 20px;
}

.business_item2 {
  width: 60%;
  float: right;
  margin-top: 10%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.business_bg {
  background: #c5c56a;
  width: 70%;
  height: 650px;
  float: right;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  margin-right: 20px;
}

.business_element {
  padding: 25% 0 5%;
}

.business_element ul {
  background: #f8f4e6;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 100px;
  margin: auto;
}

.business_element ul li {
  list-style: disc;
  width: 40%;
  margin-bottom: 20px;
  font-weight: bold;
}

.business_element ul li:last-child {
  margin-bottom: 0;
}

.business_bg .button {
  float: right;
  width: 13%;
  text-align: center;
  background: #474a4d;
  padding: 10px 20px;
  margin: 0 17% 8% 0;
  border-radius: 10px;
}

.business_bg .button a {
  color: #f8f4e6;
  font-size: 15px;
}

.business_bg .button:hover {
  opacity: 0.5;
}

.letter {
  width: 980px;
  margin: 100px auto 150px;
  padding: 0 20px;
}

.letter_inner {
  border: 6px double #474a4d;
  padding: 50px;
}

.letter_inner h1 {
  background-color: #f8f4e6;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  position: relative;
  bottom: 90px;
  width: 40%;
  margin: 0 auto 50px;
  padding: 0 50px;
  letter-spacing: 5px;
}

.letter_list h2 {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 50px;
  font-weight: normal;
  text-align: center;
}

.letter_list h2 small {
  font-size: 15px;
  color: #d0576b;
  text-align: center;
}

.letter_item p {
  letter-spacing: 3px;
  line-height: 3;
  margin-bottom: 50px;
}

.letter_item p img {
  width: 100%;
  height: auto;
}
