body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #474a4d;
}

.wrap {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #555;
}

li {
  list-style: none;
}

.header_all {
  width: 100%;
  height: 80px;
}

.header_inner {
  left: 23%;
}

.header_inner nav {
  display: grid;
}

.header_list {
  text-align: center;
  display: inline-block;
}

.header_list li {
  display: inline-block;
  font-weight: bold;
  margin: 25px 40px;
}

.header_list li:hover {
  opacity: 0.5;
}

.color {
  color: #c5c56a;
}

.top_inner {
  text-align: center;
}

.top_inner img {
  width: 100%;
  height: 800px;
}

.top_title {
  position: relative;
  line-height: 1;
  top: -550px;
  left: 300px;
}

.top_title h1 {
  font-size: 100px;
  color: #c5c56a;
}

.top_title h2 {
  font-size: 80px;
  color: #f8f4e6;
}

.top_title p {
  font-size: 20px;
  position: relative;
  top: 30px;
  color: #f8f4e6;
}

.section {
  margin-top: 200px;
}

.news {
  display: flex;
  position: relative;
  width: 71%;
  margin: 1000px auto 200px;
  padding: 50px 0 30px;
}

.news h3 {
  text-align: end;
  font-size: 40px;
  color: #c5c56a;
  font-weight: bold;
  line-height: 1;
  padding-top: 60px;
}

.news h3 small {
  font-size: 20px;
}

.news .news_list {
  margin: 0 50px;
  text-align: left;
  padding: 30px;
}

.news .news_list li {
  font-size: 18px;
  line-height: 2;
  color: #333;
  text-align: center;
}

.feature {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 150px;
}

.feature_bg img {
  display: inline-block;
  width: 50%;
  float: left;
  border-radius: 20px;
}

.feature_inner {
  display: inline-block;
  width: 50%;
  background-color: #f8f4e6;
  border-radius: 20px;
  position: relative;
  top: 100px;
  left: -50px;
}

.feature_inner h4 {
  padding: 15% 0 0 15%;
  font-size: 50px;
  color: #c5c56a;
}

.feature_inner small {
  padding-left: 15%;
  font-size: 20px;
  font-weight: bold;
}

.feature_inner p {
  padding: 10%;
}

.service {
  display: inline-block;
  position: relative;
  width: 100%;
}

.service h3 {
  text-align: center;
  font-size: 50px;
  color: #c5c56a;
  line-height: 1;
  position: absolute;
  left: 550px;
  top: 100px;
}

.service small {
  font-size: 20px;
  color: #474a4d;
}

.service_bg {
  background-image: url("../img/service_bg.png");
  background-size: cover;
  height: 1150px;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.service_item {
  width: 1100px;
  display: flex;
  height: 250px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px 30px;
  position: relative;
  top: 200px;
  border-radius: 20px;
}

.service_item img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.service_item h4 {
  font-size: 30px;
  padding-top: 20px;
  width: 450px;
  position: relative;
  top: 30px;
  left: 70px;
}

.service_item small {
  font-size: 13px;
  color: #c5c56a;
  font-weight: bold;
  top: 110px;
  left: -75px;
  position: relative;
  width: 602px;
  height: 20px;
}

.service_item p {
  padding: 10px;
  line-height: 2;
}

.left {
  margin-right: 30px;
}

.right {
  margin-left: 30px;
}

.service .btn a {
  background: #d0576b;
  padding: 20px 60px;
  position: relative;
  top: 300px;
  color: #f8f4e6;
  font-size: 20px;
  border-radius: 4px;
}

.service .btn:hover {
  opacity: 0.8;
}

.recruit {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 400px;
}

.recruit_inner {
  width: 80%;
  position: relative;
  left: 100px;
  top: 280px;
  z-index: 1;
}

.recruit h3 {
  font-size: 50px;
  color: #c5c56a;
}

.recruit h3 small {
  font-size: 20px;
  color: #474a4d;
  font-weight: bold;
}

.recruit h4 {
  font-size: 25px;
  padding-top: 40px;
  color: #474a4d;
  border-bottom: #d0576b;
  border-style: dashed;
}

.recruit p {
  line-height: 2.5;
}

.recruit .btn a {
  text-align: center;
  background: #d0576b;
  padding: 20px 60px;
  position: relative;
  top: 15px;
  left: 140px;
  color: #f8f4e6;
  font-size: 20px;
  border-radius: 4px;
}

.recruit .btn a:hover {
  opacity: 0.8;
}

.recruit img {
  position: relative;
  float: right;
  width: 600px;
  height: 600px;
  left: 100px;
  z-index: 1;
  bottom: 300px;
  border-radius: 20px;
}

.recruit_bg {
  width: 500px;
  height: 500px;
  background-color: #eee;
  position: absolute;
  top:-180px;
  left: -40px;
  z-index: 0;
  padding: 60px;
  border-radius: 20px;
}

.contact h3 {
  font-size: 50px;
  color: #c5c56a;
  text-align: center;
  margin-top: 500px;
}

.contact h3 small {
  font-size: 20px;
  color: #474a4d;
}

.form {
  width: 70%;
  margin: 100px auto 0;
}

input,
textarea {
  box-sizing: border-box;
  border: solid #ddd 1px;
  width: 65%;
  margin-bottom: 15px;
  float: right;
}

input {
  padding: 6px;
}

textarea {
  vertical-align: top;
  height: 200px;
}

.button_submit {
  text-align: center;
  clear: both;
}

.button_submit .button:hover {
  opacity: 0.8;
}

.button_submit .button {
  background: #d0576b;
  padding: 10px 40px;
  position: relative;
  top: 90px;
  font-size: 20px;
  color: #f8f4e6;
  border-radius: 4px;
  margin-bottom: 200px;
}

.footer {
  display: inline-block;
  position: relative;
  width: 100%;
}

.footer_inner {
  display: inline-block;
  position: relative;
  margin-left: 200px;
  z-index: 1;
  top: 230px;
}

.footer_inner img {
  width: 200px;
}

.footer_inner p {
  width: 150px;
  font-size: 10px;
}

.footer_bg {
  width: 100%;
  float: right;
  height: 300px;
  background-color: #eee;
  position: relative;
  z-index: 0;
}

.footer_list ul {
  float: right;
  z-index: 1;
}

.footer_list ul::after {
  content: "";
  position: absolute;
  height: 300px;
  border-left: 1px solid #ccc;
  color: #555;
  top: 0;
}

.footer_list ul li {
  width: 200px;
  padding: 20px 0 0 40px;
  font-weight: bold;
  font-size: 12px;
}

.copyright {
  text-align: center;
  font-size: 5px;
  font-weight: bold;
  padding: 10px;
}
