.company {
  width: 100%;
  display: inline-block;
}

.company_inner {
  margin-top: 150px;
}

.company_list {
  width: 80%;
  margin: 0 auto 150px;
}

.company_list li {
  display: flex;
  margin-bottom: 30px;
}

.company_list li span {
  width: 20%;
  margin-right: 3%;
  padding: 0 0 30px 20px;
  border-bottom: 3px solid #d0576b;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.company_list li p {
  width: 80%;
  padding: 0 0 30px 30px;
  border-bottom: 1px solid #f8f4e6;
  font-size: 24px;
  text-align: center;
}

.company_list li p a {
  color: #d0576b;
}
