.recruit {
  margin: 200px 0;
}

.recruit_list {
  display: flex;
  width: 100%;
}

.recruit_list h1 {
  font-size: 50px;
  font-weight: normal;
  color: #d0576b;
  line-height: 0.8;
  padding-bottom: 7%;
}

.recruit_list h1 small {
  font-size: 12px;
  color: #c5c56a;
}

.recruit_list h2 {
  font-size: 20px;
  color: #555;
  font-weight: normal;
  padding-bottom: 7%;
}

.recruit_list p {
  width: 80%;
  font-size: 12px;
  color: #555;
  letter-spacing: 3px;
  line-height: 2.6;
}

.recruit_item1 {
  width: 50%;
  display: inline-block;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 20px;
}

.recruit_item2 {
  width: 60%;
  margin-top: 7%;
  padding: 40px;
  position: relative;
  top: -400px;
  z-index: 2;
  text-align: center;
  background-color: #f8f4e6;
  border-radius: 20px;
}

.recruit_item2 p {
  margin: 0 auto;
  font-size: 14px;
}

.recruit img {
  width: 120%;
}

.discussion_talk {
  margin-bottom: 150px;
  padding: 100px 100px 150px;
  background-color: #f8f4e6;
}

.question_ttl {
  font-size: 25px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.question_ttl p span {
  font-weight: bold;
  font-size: 40px;
  padding-right: 20px;
  color: #d0576b;
}

.question_list {
  padding: 100px;
  background-color: #fff;
}

.question_list li {
  display: flex;
  margin-bottom: 50px;
}

.question_member {
  margin-right: 60px;
  display: flex;
}

.question_member img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.question_member p {
  margin-top: 8px;
  text-align: center;
}

.question_txt {
  width: 80%;
  padding-top: 10px;
  line-height: 2.5;
}
